#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}

#hero-img {
    width: 100%;
}

#hero_msg {
    text-align: center;
}

#hero_msg h1 {
    text-align: center;
    color: #03045E;
}

#hero_msg h4 {
    text-align: center;
    color: #03045E;
}

.button_box {
    text-align: center;
}

main section {
    text-align: center;
    color: #03045E;
}

#background {
    height: 725px;
}

body {
    background-color: aliceblue;
}

header {
    background-color: #0096C7;
}

nav a:hover {
    background-color: #0077B6;
    color: aliceblue;
}

.book {
    background-color: #023E8A;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

.join {
    background-color: #023E8A;
    color: aliceblue;
    text-decoration: none;
}

.book:hover {
    background-color: #0077B6;
    color: aliceblue;
}

.join:hover {
    background-color: #0077B6;
    color: aliceblue;
}
#background {
    background-color: #0096C7;
}

.msg {
    background-color: #0096C7;
}

footer {
    background-color: #0096C7;
    color: aliceblue;
}

footer a {
    color: aliceblue;
    text-decoration: none;
}

footer a:hover {
    background-color: #0077B6;
    color: aliceblue;
}

footer p {
    font-size: 1.2em;
}

h4 {
    color: #03045E;
}

.home_title {
    color: #03045E;
}

.msg h2 {
    color: aliceblue;
}

.msg p {
    color: aliceblue;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

