body {
    background-color: purple;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
}

div section:nth-of-type(2) {
    background-color: gray;
}

@media screen and (max-width: 900px) {
    div {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 871px) {
    body {
        background-color: orange;
    }
}

@media screen and (max-width: 673px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 500px){
    div {
        grid-template-columns: 1fr;
    }
}