body {
    background-color: pink;
}

@media screen and (min-width: 628px) {
    body {
        background-color: aquamarine;
    }
}

@media screen and (min-width: 812px) {
    body {
        background-color: seagreen;
    }
}