@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: 0;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 940px 1fr;
    font-family: 'Quicksand', sans-serif;;
}

div {
    display: grid;
    width: 100%;
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 100px;
    box-shadow: 2px 2px #88b9d2;
    grid-template-columns: 1fr 1fr;
}

div img {
    height: 400px;
    width: 470px;
}

section {
    grid-row: 1/2;
    grid-template-columns: 2/3;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 46px;
}

p {
    font-size: small;
}

h1 {
    border-bottom: 4px solid black;
    padding-bottom: 5px;
}

h2 {
    font-size: medium;
}

.boxholder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100px;
}