@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@300&display=swap');

body {
    background-color: #EFEFEF;
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h4 {
    font-family: Lato, Helvetica, sans-serif;
}

header {
    border-bottom: 5px solid #52AA8A;
}

header div{
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 320px 1fr;
}

header nav {    
    padding: 35px;
    justify-self: end;
}

header nav a {
    padding: 30px;
    color: #5A4AE3;
    text-decoration: none;
    font-weight: bolder;
}

header nav a:hover {
    background-color: #fdfbfb;
}

#logo {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 100px 500px 1fr;
    color: #EFEFEF;
}

#hero img{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
    height: 700px;
}

#hero section {
    background-color: #5A4AE3;
    overflow: hidden;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 2;
    margin-top: 150px;
    height: 325px;
    padding: 30px;
    box-shadow: 3px 3px #0000001f;
    border-radius: 10px;
}

.button {
    text-decoration: none;
    color: #EFEFEF;
    background-color: #52AA8A;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.button:hover {
    background-color: #79ceaf;
}

#hero h4 {
    font-size: x-large;
}

#main_section {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main_section img {
    width: 90%;
    margin-right: 40px;
    box-shadow: 3px 3px #0000001f;
    overflow: hidden;
    border-radius: 10px;
}

#main_section p {
    padding: 40px;
}

footer {
    background-color: #5A4AE3;
    color: #EFEFEF;
    overflow: hidden;
}

footer h4 {
    float: left;
    margin-left: 20px;
}

footer nav {
    float: right;
    overflow: hidden;
    padding: 20px;
}

footer nav a {
    color: #EFEFEF;
    text-decoration: none;
    padding: 70px;
}

footer nav a:hover {
    background-color: #7868fa;
}

#img_section {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5A4AE3;
    border-radius: 10px;
  }
  
  #img_section:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

@media only screen and (max-width: 1280px) {
    footer h4 {
        float: none;
        text-align: center;
    }
    
    footer nav {
        float: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    footer nav a {
        padding: 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    header div {
        width: 980px;
    }
    
    #main_section {
        width: 980px;
    }

    #main_section p {
        padding: 20px;
    }
}

@media only screen and (max-width: 980px) {   
    header div {
        width: 700px;
        grid-template-columns: 200px 1fr;
    }

    header nav {
        padding: 15px;
    }

    header nav a {
        font-size: small;
        padding: 15px;
    }

    #main_section {
        width: 700px;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 730px) {
    
}